body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.container
{
    border: 5px solid black;
    border-radius: 10px;
    background-color: chocolate;
    width: 30vw;
}

#title
{
    display: flex;
    justify-content: center;
    background-color: yellow;
}

#heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputContainer
{
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
}

.label
{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.buttonContainer
{
    display: flex;
    justify-content: space-between;
}

.button
{
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.5s , color 0.5s;
}

.button:hover
{
    color: yellow;
    background-color: rgb(169, 3, 3);
}

.button:active
{
    color: rgb(0, 255, 234);
    background-color: rgba(1, 1, 131, 0.485);
}

.input
{
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}